fastapi==0.111.0
fastapi-cli==0.0.4
gitdb==4.0.11
GitPython==3.1.43
Jinja2==3.1.4
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.11
langchain-mongodb==0.1.6
langchain-text-splitters==0.2.2
pyarrow==16.1.0
pydantic==2.7.1
pydantic-extra-types==2.7.0
pydantic-settings==2.2.1
pydantic_core==2.18.2
replicate==0.26.0
requests==2.32.2
streamlit==1.36.0
tokenizers==0.19.1
transformers==4.42.3
urllib3==2.2.1
uvicorn==0.29.0
watchdog==4.0.1
watchfiles==0.21.0
websockets==12.0
